node_modules
.project
.idea
coverage
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.grunt
.lock-wscript
.jshintrc

pids
logs
results

npm-debug.log
docs
build/Release

# Ignore test database files
*.sqlite3
*.sqlite3-journal
